doctype html
html(lang='en')
  head
    title 2fa Reverse Proxy
    style(type='text/html')
  body
    div(align='center' position='fixed' height='100%' style='board-style: solid')
      h1 Secured Site Setup Wizard
      pre(style='color: red') #{status}
      form(method='post' name='form' enctype='application/x-www-form-urlencoded')
        h3 Admin User Profile
        table
          each value, key in adminUserOptions
            tr(title=value.message)
              td
                label(for=key)=value.key
              td
                case value.type
                  when 'tel': input(name=key type=value.type value=value.value pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}' required='true')
                  when 'email': input(name=key type=value.type value=value.value pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$' required='true')
                  default: input(name=key type=value.type value=value.value required='true')
        h3 Database Settings
        table
          each value, key in options.datasource
            tr(title=value.message)
              td
                label(for=key)=value.key
              td
                case value.type
                  when 'number': input(name=key type=value.type value=value.value min='1024' max='65535' required='true')
                  when 'select': select(name=key type=value.type  value=value.value)
                                   option(name='mysql' value='mysql') MySQL
                                   option(name='mssql' value='mssql') MSSQL
                                   option(name='postgres' value='postgres') PostgreSQL
                                   option(name='sqlite' value='sqlite') SQLite
                  default: input(name=key type=value.type value=value.value required='true')
        h3 Application Settings
        table
          each value, key in options.application
            tr(title=value.message)
              td
                label(for=key)=value.key
              td
                case value.type
                  when 'number': input(name=key type=value.type value=value.value min='1024' max='65535' required='true')
                  when 'radio'
                   if value.value
                     input(name=key type=value.type value='true' required='true' checked)
                     | Enabled
                     input(name=key type=value.type value='false' required='true')
                     | Disabled
                   else
                     input(name=key type=value.type value='true' required='true')
                     | Enabled
                     input(name=key type=value.type value='false' required='true' checked)
                     | Disabled
                  default: input(name=key type=value.type value=value.value required='true')
        br
        input(type='submit' value='Test' formaction='/wizard/testOptions')
        | &emsp;
        input(type='submit' value='Shutdown' formaction='/wizard/restart')
      br
      p Presented by Two Factor Authentication Reverse Proxy


